
/* Resetting styles and setting up the fonts */
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Aboreto', cursive;
}

html {
    height: 100%;
}

/* Setting up the body */
body {
    background-color: #f8f9fa;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Setting up the main */
main {
    margin-top: 2rem;
    border: .5rem solid #f18701;
    padding: 2rem;
    height: 100%;
}

/* Styling the Header */
header {
    display: flex;
    justify-content: space-between;
    background-color: #f18701;
    padding: 1rem;
    border-radius: 2rem;

    & div h1 {
        margin: 1rem;
    }

    & div h3 {
        margin: 1rem;
    }

    & img {
        width: 150px;
    }
}
/* Currently there is no navigation needed, this might change in the future */
nav{
    color:black;
}

/* Setting up the form */

.form{
    display: flex;
    flex-direction: column;
    &-radio-format{
        width: 250px;
        padding: 1rem;
    
        &-input{
            padding: .5rem;
            display: flex;

            & label {
                margin-left: .5rem;
            }
        }
    }


}

/* Setting up the radiobuttons */

input[type="radio"] {
    appearance: none;
    background-color: white;
    margin: 0;
    color: #6a4c93;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #6a4c93;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }
  
  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #6a4c93;
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  }
  
  input[type="radio"]:focus {
    outline-offset: max(2px, 0.15em);
  }

/* Setting up the footer */
footer {
    display: flex;
    color: #6c757d;
    background-color: #ffd23f;
    width: 100%;

    & p {
        margin: auto;
        padding: 1rem;
    }
}