# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-s

RewriteRule ^penaltyRegistration/list/([0-9]+) api/RestController.php?view=single&id=$1 [nc,qsa]
RewriteRule ^penaltyRegistration/list api/RestController.php?view=all [nc,qsa]
#RewriteRule ^penalty/add/ api/RestController.php?view=add [nc,p]