# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^penalty/list/([0-9]+) api/RestController.php?view=single&id=$1 [nc,qsa]
RewriteRule ^penalty/list api/RestController.php?view=all [nc,qsa]